$Id

This tutorial will introduce you to drupal's taxonomy feature, as well as the contributed views and panels modules. We will build a home page that contains columns of blocks with classified ad headings and categories similar to those found on craigslist.

<hr><h3>Download the following files:</h3>
<table border=1>
<tr>
<th>Drupal</th><th>Theme</th><th>Modules</th></tr>
<tr>
<td><a href='http://ftp.drupal.org/files/projects/drupal-6.15.tar.gz'>Drupal 6.15</a></td>
<td><a href='http://ftp.drupal.org/files/projects/newswire-6.x-3.2.tar.gz'>Newswire 6.x-3.2</a></td>
<td><a href='http://ftp.drupal.org/files/projects/advanced_help-6.x-1.2.tar.gz'>Advanced help 6.x-1.2</a>
<a href='http://ftp.drupal.org/files/projects/ctools-6.x-1.2.tar.gz'>Chaos tool suite 6.x-1.2</a>
<a href='http://ftp.drupal.org/files/projects/panels-6.x-3.2.tar.gz'>Panels 6.x-3.2</a>
<a href='http://ftp.drupal.org/files/projects/views-6.x-2.8.tar.gz'>Views 6.x-2.8</a>
</td>
</tr>
</table>

<hr><h3>Install, enable, and configure the newswire theme:</h3>
<ul>
<li>Install the newswire theme under sites/all/themes.
<li>Enable it and make it your default under Administer > Site building > Themes.
<li>Disable the Logo under Administer > Site building > Themes > Newswire > configure.
</ul>

<hr><h3>Enable the following modules:</h3>
<ul>
<li>Chaos tool suite (ctools)
<ul>
<li>Chaos tools
<li>Page manager
<li>Views content panes
</ul>
<li>Other
<ul>
<li>Advanced help
</ul>
<li>Panels
<ul>
<li>Mini panels
<li>Panel nodes
<li>Panels
</ul>
<li>Views
<ul>
<li>Views
<li>Views UI
</ul>
</ul>

<hr><h3>Create the vocabularies:</h3>

Create the following vocabularies (personals, for sale, etc.) under Administer > Content management > Taxonomy, and then add the appropriate terms (strictly platonic, women seeking women, etc.) to each vocabulary:</h3>

<ul>
<li>personals
<ul>
<li>strictly platonic
<li>women seeking women
<li>women seeking men
<li>men seeking women
<li>men seeking men
<li>misc romance
<li>casual encounters
<li>missed connections
<li>rants and raves
</ul>
</ul>

<ul>
<li>for sale
<ul>
<li>appliances
<li>arts+crafts
<li>antiques
<li>auto parts
<li>baby+kids
<li>barter
<li>beauty+hlth
<li>bikes
<li>boats
<li>books
<li>business
<li>cars+trucks
<li>cds / dvd / vhs
<li>cell phones
<li>clothes+acc
<li>collectibles
<li>computer
<li>electronics
<li>farm+garden
<li>free
<li>furniture
<li>garage sale
<li>general
<li>household
<li>jewelry
<li>materials
<li>motorcycles
<li>music instr
<li>photo+video
<li>rvs
<li>sporting
<li>tickets
<li>tools
<li>toys+games
<li>video gaming
<li>wanted
</ul>
</ul>

<ul>
<li>jobs
<ul>
<li>accounting+finance
<li>admin / office
<li>arch / engineering
<li>arch / engineering
<li>biotech / science
<li>business / mgmt
<li>customer service
<li>education
<li>food / bev / hosp
<li>general labor
<li>government
<li>human resources
<li>internet engineers
<li>legal  /  paralegal
<li>manufacturing
<li>marketing / pr / ad
<li>medical / health
<li>nonprofit sector
<li>real estate
<li>retail / wholesale
<li>sales / biz dev
<li>salon / spa / fitness
<li>security
<li>skilled trade / craft
<li>software / qa / dba
<li>systems / network
<li>technical support
<li>transport
<li>tv / film / video
<li>web / info design
<li>writing / editing
<li>[ETC]
<li>[part time]
</ul>
</ul>

<ul>
<li>housing
<ul>
<li>apts / housing
<li>housing swap
<li>housing wanted
<li>office / commercial
<li>parking / storage
<li>real estate for sale
<li>rooms / shared
<li>sublets / temporary
<li>vacation rentals
</ul>
</ul>

<ul>
<li>services
<ul>
<li>adult
<li>automotive
<li>beauty
<li>computer
<li>creative
<li>event
<li>farm+garden
<li>financial
<li>household
<li>labor / move
<li>legal
<li>lessons
<li>pet
<li>real estate
<li>skill'd trade
<li>sm biz ads
<li>therapeutic
<li>travel / vac
<li>write / ed /tr8
</ul>
</ul>

<ul>
<li>gigs
<ul>
<li>adult
<li>computer
<li>creative
<li>crew
<li>domestic
<li>event
<li>labor
<li>talent
<li>writing
</ul>
</ul>

<hr><h3>Create the views:</h3>

Create the following views under Administer > Site building > Views:

<ul>
<li>The personals view
<ul>
<li>Go to Administer > Site building > Views and click the Add tab.
<li>Enter personals as the View name, and select Term as the View type, then click Next.
<li>In the Basic settings set the Items to display to 99.
<li>Add a field by clicking the plus sign under Fields.
<ul>
<li>Select Taxonomy under Groups, and click Taxonomy: Term, then click Add.
<li>Delete the Label: Term, and select Link this field to its taxonomy term page, then click Update.
<li>Be sure to click the Save button.
</ul>
<li>Add a filter by clicking the plus sign under Filters.
<ul>
<li>Select Taxonomy under Groups, and click Taxonomy: Vocabulary, then click Add.
<li>Select personals under Options.
<li>Be sure to click the Save button.
</ul>
</ul>
</ul>

<ul>
<li>The for_sale view
<ul>
<li>Do the same thing you did before, but substitute for_sale for personals.
</ul>
</ul>

<ul>
<li>The jobs view
<ul>
<li>Do the same thing you did before, but substitute jobs for personals.
</ul>
</ul>

<ul>
<li>The housing view
<ul>
<li>Do the same thing you did before, but substitute housing for personals.
</ul>
</ul>

<ul>
<li>The services view
<ul>
<li>Do the same thing you did before, but substitute services for personals.
</ul>
</ul>

<ul>
<li>The gigs view
<ul>
<li>Do the same thing you did before, but substitute gigs for personals.
</ul>
</ul>

<hr><h3>Create the panels:</h3>

Create the following panel page under Administer > Site building > Panels > Create new... Panel page:

<ul>
<li>Enter Ad categories as the Adminstrative title, and ad_categories as the Machine name and the Path.
<li>Click the Make this your site home page, then click Continue.
<li>Select the Three column 33/34/33 panel layout, then click Continue.
</ul>

<ul>
<li>Create a left column panel:
<ul>
<li>Click the Left side region gear and set the Region style to No style.
<li>Click the Left side region gear and click Add content.
<li>Select Views > personals, then click Continue.
<li>Click Override title and enter personals, then click Finish.
<li>Click the personals pane gear and set the change the style to System block.
<li>Click Finish, then Update and preview.
<li>Be sure to click the Save button.
</ul>
</ul>

<ul>
<li>Create a middle column panel:
<ul>
<li>Click the Middle column region gear and set the Region style to No style.
<li>Click the Middle column region gear and click Add content.
<li>Select Views > for_sale, then click Continue.
<li>Click Override title and enter for sale, then click Finish.
<li>Click the for_sale pane gear and set the change the style to System block.
<li>Click Finish, then Update and preview.
<li>Be sure to click the Save button.
</ul>
</ul>

<ul>
<li>Create a right column panel:
<ul>
<li>Click the Right side region gear and set the Region style to No style.
<li>Click the Right side region gear and click Add content.
<li>Select Views > jobs, then click Continue.
<li>Click Override title and enter jobs, then click Finish.
<li>Click the jobs pane gear and set the change the style to System block.
<li>Click Finish, then Update and preview.
<li>Be sure to click the Save button.
</ul>
</ul>

<ul>
<li>Create a left column panel:
<ul>
<li>Click the Left side region gear and set the Region style to No style.
<li>Click the Left side region gear and click Add content.
<li>Select Views > housing, then click Continue.
<li>Click Override title and enter housing, then click Finish.
<li>Click the housing pane gear and set the change the style to System block.
<li>Click Finish, then Update and preview.
<li>Be sure to click the Save button.
</ul>
</ul>

<ul>
<li>Create a left column panel:
<ul>
<li>Click the Left side region gear and set the Region style to No style.
<li>Click the Left side region gear and click Add content.
<li>Select Views > services, then click Continue.
<li>Click Override title and enter services, then click Finish.
<li>Click the services pane gear and set the change the style to System block.
<li>Click Finish, then Update and preview.
<li>Be sure to click the Save button.
</ul>
</ul>

<ul>
<li>Create a right column panel:
<ul>
<li>Click the Right side region gear and set the Region style to No style.
<li>Click the Right side region gear and click Add content.
<li>Select Views > gigs, then click Continue.
<li>Click Override title and enter gigs, then click Finish.
<li>Click the gigs pane gear and set the change the style to System block.
<li>Click Finish, then Update and preview.
<li>Be sure to click the Save button.
</ul>
</ul>

<hr><h3>The finished product:</h3>
The completed home page should look something like this: <a href='http://aswapathy.com/ads'>http://aswapathy.com/ads/</a>

<p>Please register and log in if you wish to add a comment.
<p>And click Contact Carl if you need help with your website.

