
#scrollbox {
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  height: 300px;
  width: 460px
}

.scrollpage {
  position: absolute;
  top: 0px;
  left: 5px;
  height: 295px;
  width:455px;
}

